body{
    margin: 0;
}
.menu{
    width: 100%;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

.menu li {
    float: left;
    width:25%;
    text-align: center;
}
.menu li a, .dropbtn {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    width:100%;
    text-decoration: none;
}
.dropbtn{
    text-align:center;
}

.menu a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}
.dropdown {
    display: inline-block;
    width: 25%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100%;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
#myphoto {
    background-color: rgba(155, 155, 155, 0.58);
}
.content {
    display: grid;
    grid-template-columns: 250px 750px;
    grid-template-rows: repeat(4, 250px) 100px;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 8%;
    padding-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    color: #f1f1f1;
    border: 5px solid rgba(255, 255, 255, 0.54);
    border-radius: 10px;
    justify-items: center;
    align-items: center;
    word-break: break-all;
    word-wrap: break-word;
}
.page {
    padding-top: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:5 ;
    grid-row-end:6 ;
}
.page a{
    color: #f1f1f1;
}

body {
    background-color: #242424;
}
h1 {
    color: #f1f1f1;
    text-align: center;
}
.content img {
    border: 5px solid rgba(180, 173, 98, 0.38);
    border-radius: 20px;
    height:210px ;
    width:250px ;
}
.content div{
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:4;
}
.content p{
    overflow: hidden;
}
.content img:hover {
    transform: scale(1.1, 1.1);
}
.content button{
    width:80px;
    height: 40px;
    border: 0;
    border-radius: 25px;
    font-size: 15px;
    color: #0f0f0f;
    background-color: #ffffff;

}
.content button:hover {
    transform: scale(1.1, 1.1);
}
.bottom{
    height: 30px;
    padding-top: 20px;
    font-size: 15px;
    background-color: #333333;
    text-align: center;
    color: aliceblue;
}
.button{
    position: fixed;
    right: 100px;
    top: 80%;
}
.button img:hover {
    transform: scale(1.1, 1.1);
}